body {
  background-color: #005b5b;
  color: white;
}

.container {
  font-family: "Righteous", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header {
  margin-top: 1rem;
}

/* Table */

#numberTable {
  margin-bottom: 20px;
  border-radius: 5px;
  color: black;
  background-color: #ffffff;
}

#numberTable td {
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

#numberTable td.selected,
#numberTable td:hover {
  background-color: #cfaf4b;
  border-radius: 50%;
}

.number {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.number.match {
  background-color: green;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons button {
  font-size: 1rem;
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #dc143c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #ff7f50;
}

/* Entries */

.entry {
  padding-left: 5px;
  margin: 3px 0;
  border: 2px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

@media (max-width: 740px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}
